{% extends "base.html" %}
{% block title %}تسجيل الدخول{% endblock %}
{% block content %}
<div class="card" style="max-width: 400px; margin: 60px auto; text-align: center;">
    <h2>نظام المحاسبة</h2>
    <form method="post">
        <label>اسم المستخدم:</label>
        <input type="text" name="username" style="width:100%;" autofocus>
        <label>كلمة السر:</label>
        <input type="password" name="password" style="width: 100%;">
        <br><br>
        <button type="submit" class="btn" style="width: 100%;">دخول</button>
    </form>
</div>
{% endblock %}
